*{
	padding: 0;
	margin: 0;
	font-family: 'Droid Sans', sans-serif;
}
body {
	background-color:#f5f7f6;
}
table {
	border-collapse: collapse;
	font-size: 14px;
}
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
input[type="text"], textarea {
	background-color: #fff;
}

#header {
	background-color: #28d5ff;
	width: 100%;
	display: inline-block;
}
	#header .title {
		background-color: #767475;
		font-weight: bold;
		font-size: 1.5em;
		float: left;
		padding: 10px 20px;
		color:white;
	}
	#header .nav {
		padding: 14px;
		float: left;
	}
	#header .nav span {
		padding: 5px 20px;
		background-color: #f5f7f6;
		color: #000;
		cursor: pointer;
	}
	#header .nav span.active {
		font-weight: bold;
	}

#container {
	padding: 20px;
	/*width: 50%;*/
	margin: 0 auto;
	text-align: center;
}
	#container input[type="submit"] {
		margin-top:20px;
		padding: 3px 20px;
	}
	#container div.section_visible {
		display: block;
	}
	#container div.section_hidden {
		display: none;
	}
	#container div#loading {
		background: url(../img/loading.gif);
	    width: 100px;
	    height: 100px;
	    background-repeat: no-repeat;
	    background-size: 100px;
	    margin: auto;
	    margin-top: 30px;
	    display:none;
	}
	#container input#ruta {
	    width: 30%;
		margin-left: 10px;
		min-width: 250px;
		padding: 5px;
	}

#archivos {
	margin-top: 15px;
	width:100%;
	text-align: left;
}
	#archivos table {
		margin:auto;
	}
	#archivos table th {
		background-color: #28d5ff;
		font-weight: bold;
		border: 1px solid #28d5ff;
		padding: 2px 5px;
	}
	#archivos table tr:nth-child(odd) td{
		background-color: #f5f7f6;
	}
	#archivos table tr:nth-child(even) td{
		background-color: #fff;
	}
	#archivos table tr td {
		padding:6px;
	}
	#archivos table tr td.folder {
		font-size: 12px;
	}

#contIdioma, #contIdiomaDestino, #contTraducir, #revisarTraduccion{
	display:inline-block;
	padding: 5px;
	margin:5px;
	font-size: 14px;
}

.boton{
	padding: 5px;
	font-size: 16px;
}